/* 
CSS это каскадная таблица стилей
 сотстоит из понятия селекторы(превдоэлементы) и свойства
 после свойства двоеточие и в конце точка с запятой
 блоки называют правилами
 можно обращаться к множеству лассов сразу .qwe.asd.zxc {}
 с помощью * можно обратиться ко всей странице сразу *:{margin:15px }
 селекторы можно указывать через запятую a,№qwe, .qwerty {color:gray}
 для проверок можно убращатся так p[class=animal] {color:red}  тоесть все параграфы(можно без указания например параграфа но всеравно в квадратных скобках) с классом animal окрасятся
  Псевдокласс a:hover{backgroun-color:red;} тут hover псевдоклас который применяеться ко всем ссылкам
 a:active{color:red;} при нажатии
 :focus - работает когда нажади на какую-то форму, например текстовый инпут
 Псевдоэлемент (пишеться с двумя двоеточиями, ::first-line выбирает только певрую строку)
    p::first-line {
    font-size: 120%;
    font-weight: bold;
}   
 */
a {/* селектор по ИМЕНИ тега*/
color: rgba(227, 135, 15, 0.91);
font-size: 23px;
}
#qwe {/*серектор по ИДЕНТИФИКАТОРУ*/
  color:rgb(3, 116, 48);
}
.testbackground{/* селектор по КЛАССУ (удобно использовать для типов сообщений ) (классы можно указывать через пробел в html файле)*/
  color: rgb(53, 4, 4) ;
  background-color: rgba(36, 77, 19, 0.351);
  border: 1px solid #323232;/*рамка, певрвый параметр толщина, второй тип рамки, третий цвет*/
  margin-bottom: 50px;/*margin внешний отступ (можно разными свойствами)*/
  padding: 10px;/*внутрений отступ (можно разными свойствами)*/
}
table{
  color:rgb(0, 0, 255);
}
.testbackground:hover {/*событийные селекторы (чаще всего используют при наведении миши (hover))*/
border:3px dashed #02bcc0;/*dashed это прерывчатая рамка*/
}

#testsobutiy{  
  background-color: rgba(227, 135, 15, 0.91) ;
  color:black ;
  padding: 15px;
  margin: 10px;
  border: 4px solid rgb(53, 4, 4);
  border-radius: 30px;
  opacity: 0.9;
  width: 40%;
  display: block;/*для того чтобы узакать видимость єлемента, стандарное значение block (у тегов spen ,strong значение inline-block)*/
  text-align: center;/*выравнивание текста */
}
#testsobutiy:hover{
  transform: rotate(3deg) scale(1.03);/*функция rotate которая поворачивает с параметром degrise(граудус) scale() изметить размер стандартное значение аргумента(1,0)  */
  transition:1.5s all;/* скорость анимации, можно указывать отдельные элементы например фон или изменение цвета*/
  opacity: 0.97;
  background-color:rgb(243, 121, 21);
  box-shadow:6px -4px 5px rgba(137, 81, 8, 0.91) ;
  cursor: pointer;
}
#CSS{
background-color:rgb(18, 57, 135);
width:45% ;
margin: 17px;
padding: 10px;
}
#HTML{
  background-color:rgb(18, 57, 135);;
  width:45% ;
  margin: 17px;
  padding: 10px;
}
#HTML:hover {
background-color:rgba(0, 17, 142, 0.951);
}
#CSS:hover{
  background-color:rgba(0, 17, 142, 0.951);;
}